<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="devStringxSuite">
  <test thread-count="5" name="devStringxTest">
    <classes>
      <class name="practice.DevStringx"/>
    </classes>
  </test> <!-- devStringxTest -->
</suite> <!-- devStringxSuite -->
